/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 04-abr-2023, 20:20:21
    Author     : More
*/

body{
   background-image: url("./noti.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100vh;
  
  

}

